@font-face {
  font-family: 'icon';
  src:  url('../fonts/Icons/icomoon.eot?hfg4mg');
  src:  url('../fonts/Icons/icomoon.eot?hfg4mg#iefix') format('embedded-opentype'),
  url('../fonts/Icons/icomoon.ttf?hfg4mg') format('truetype'),
  url('../fonts/Icons/icomoon.woff?hfg4mg') format('woff'),
  url('../fonts/Icons/icomoon.svg?hfg4mg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before {
  content: "\e90e";
}
.icon-angle-right:before {
  content: "\e90f";
}
.icon-bar:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90a";
}
.icon-checkmark:before {
  content: "\e90b";
}
.icon-checkmark-big:before {
  content: "\e90c";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-boxes:before {
  content: "\e902";
}
.icon-building:before {
  content: "\e903";
}
.icon-car:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-subway:before {
  content: "\e907";
}
.icon-target:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
