@media (min-width: 1600.98px)
    .post-content
        padding-left: 115px
        padding-bottom: 100px

    .s-service
        padding-bottom: 106px

    .other-news-slider
        .news-slider
            width: 1502px
            max-width: calc(100vw - 257px)

    .s-service
        .other-news-slider
            .news-slider
                width: 1433px
                max-width: calc(100vw - 323px)

@media (min-width: 1200.98px)
    .events
        .new
            &:nth-child(2)
                grid-row: span 2

                .new-img
                    opacity: 1

                .news-content
                    color: #fff

                .news-date
                    color: #fff

                .news-title
                    border-color: #fff

            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8)
                display: flex
                padding: 20px

                .new-img
                    position: static
                    opacity: 1
                    width: 139px
                    min-height: 128px
                    -webkit-border-radius: 5px
                    -moz-border-radius: 5px
                    border-radius: 5px
                    flex-shrink: 0
                    margin-right: 15px
                    overflow: hidden

                    &:after
                        display: none

                .news-content
                    flex-grow: 1
                    padding: 0
                    min-height: 0

                .news-descr
                    display: none

                .news-title
                    margin: 0
                    color: $text !important
                    line-height: 1.2
                    font-size: 20px
                    padding-top: 13px
                    border-top: 1px solid rgba($text, .2) !important

                .news-date
                    font-size: 18px
                    color: $accent !important

                    span
                        font-size: 28px

    .overview
        .new
            &:nth-child(1)
                grid-row: span 3

                .new-img
                    opacity: 1

                .news-content
                    color: #fff

                .news-date
                    color: #fff

                .news-title
                    border-color: #fff

                .news-descr
                    max-width: 693px

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4)
                display: flex
                padding: 20px

                .new-img
                    position: static
                    opacity: 1
                    width: 139px
                    min-height: 128px
                    -webkit-border-radius: 5px
                    -moz-border-radius: 5px
                    border-radius: 5px
                    flex-shrink: 0
                    margin-right: 15px
                    overflow: hidden

                    &:after
                        display: none

                .news-content
                    flex-grow: 1
                    padding: 0
                    min-height: 0

                .news-descr
                    display: none

                .news-title
                    margin: 0
                    color: $text !important
                    line-height: 1.2
                    font-size: 20px
                    padding-top: 13px
                    border-top: 1px solid rgba($text, .2) !important

                .news-date
                    font-size: 18px
                    color: $accent !important

                    span
                        font-size: 28px
    .smi
        .new
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6)
                display: flex
                padding: 20px

                .new-img
                    position: static
                    opacity: 1
                    width: 139px
                    min-height: 128px
                    -webkit-border-radius: 5px
                    -moz-border-radius: 5px
                    border-radius: 5px
                    flex-shrink: 0
                    margin-right: 15px
                    overflow: hidden

                    &:after
                        display: none

                .news-content
                    flex-grow: 1
                    padding: 0
                    min-height: 0

                .news-descr
                    display: none

                .news-title
                    margin: 0
                    color: $text !important
                    line-height: 1.2
                    font-size: 20px
                    padding-top: 13px
                    border-top: 1px solid rgba($text, .2) !important

                .news-date
                    font-size: 18px
                    color: $accent !important

                    span
                        font-size: 28px

@media (min-width: 992px) and (max-width: 1200px)
    .events
        .new
            &:nth-child(2)
                grid-column: span 2

                .new-img
                    opacity: 1

                .news-content
                    color: #fff

                .news-date
                    color: #fff

                .news-title
                    border-color: #fff

                .news-descr
                    max-width: 693px


    .overview
        .new
            &:nth-child(odd)
                .new-img
                    opacity: 1

                .news-content
                    color: #fff

                .news-date
                    color: #fff

                .news-title
                    border-color: #fff

                .news-descr
                    max-width: 693px

    .smi
        .new
            &:nth-child(2)
                grid-column: span 2

                .new-img
                    opacity: 1

                .news-content
                    color: #fff

                .news-date
                    color: #fff

                .news-title
                    border-color: #fff

                .news-descr
                    max-width: 693px

@media (max-width: 1800px)
    .product-characters-list-item
        p
            font-size: 16px

        &:last-child
            width: 54%

@media (max-width: 1599.98px)
    body
        font-size: 16px

    .container
        padding: 0 30px

    .header-row
        height: 80px

    .header-logo
        margin-right: 40px

    .main-menu
        li
            margin-right: 20px

        a
            font-size: 14px

    .wrapper
        padding-top: 80px

    h1, .h1
        font-size: 48px

    h2, .h2
        font-size: 36px

    .panner
        height: 655px

    section
        padding: 70px 0

    .object-title
        font-size: 24px

    .service-title
        font-size: 24px

    .news-title
        font-size: 24px

    .invest-more-link
        padding: 0 70px

    .footer-nav
        nav
            a
                font-size: 16px

    .footer-contacts-link
        font-size: 21px

    .soc-link
        font-size: 25px

        svg
            width: 25px
            height: 25px

    .news-content
        min-height: 470px

    .checkbox
        span
            &:after
                top: 3px

            &:before
                top: 7px

    .form-success-title-icon
        width: 45px
        height: 45px
        font-size: 16px
        top: 3px

    .form-success
        p
            font-size: 20px

    .s-catalog
        padding: 0 0 70px

    .page-title
        margin-bottom: 25px

    .catalog
        .object
            &:nth-child(6n - 2),
            &:nth-child(6n - 1),
            &:nth-child(6n)
                min-height: 365px

    .s-questions
        padding: 70px 0

    .questions-left
        p
            font-size: 20px
            max-width: 550px

    .questions-link
        width: 150px
        height: 150px

        &:before
            font-size: 44px

    .product-gallery
        grid-template-columns: 1fr 160px

    .h3, h3
        font-size: 24px

    .product-description-content
        .h3, h3
            margin-bottom: 30px

    .s-product-description
        padding: 70px 0

    .s-product-location
        padding: 70px 0 35px

    .rooms-table-tr
        font-size: 16px

    .status
        &:after
            top: 6px

    .rooms-table-td
        &.rent
            .btn
                width: 207px

    .product-gallery
        margin-bottom: 70px

    .s-product-main
        padding-bottom: 70px

    .s-rooms
        padding: 35px 0 70px

    .img-slide-content
        height: 565px

    .s-post
        padding-bottom: 70px

    .img-slider
        margin: 70px 0

    .other-news
        margin-top: 70px

    .other-news-slider
        .news-slider
            max-width: calc(100vw - 150px)

    .contacts-map-container
        height: 400px

    .contacts-info-block
        p
            font-size: 20px

    .s-second-map
        padding-bottom: 70px

        .callback-form-block
            margin-top: 50px
            padding-top: 50px

    .callback-form-block-right
        padding-top: 42px

    .s-services-main
        padding-bottom: 70px

    .other-news-slider
        .service
            height: 290px

    .text-block
        ul
            li
                padding-left: 15px

                &:before
                    top: 9px
                    width: 6px
                    height: 6px

    .s-service
        .other-news-slider
            .news-slider
                width: 1433px
                max-width: calc(100vw - 215px)

    .service-soc
        top: 132px

    .s-investments-main
        padding: 85px 0 185px

    .accordion-item-header
        font-size: 24px
        padding: 28px 68px 28px 25px

        span
            width: 28px
            height: 28px
            right: 25px

            &:after
                top: 13px

            &:before
                left: 13px

    .accordion-item-body-content
        padding: 28px 25px

        &:after
            left: 25px
            right: 25px

    .s-partner
        padding: 0 0 70px

    .partner-title
        margin-bottom: 40px

    .partner-img
        margin-bottom: 40px

    .partner-content-sidebar-main
        margin-bottom: 30px
        padding: 20px

    .partner-content-sidebar-title
        font-size: 21px

    .block
        padding: 30px

    .s-callback-2
        padding: 70px 0

    .product-characters-sidebar-item-icon
        transform: translateY(0px)
        margin-right: 15px

        .icon-ruble
            transform: translateY(2px)


@media (max-width: 1365.98px)
    h1, .h1
        font-size: 40px

    h2, .h2
        font-size: 30px

    .logo
        img, svg
            width: 130px

    .header-logo
        margin-right: 30px

    .header-lang
        margin-right: 30px

        a
            font-size: 14px
            margin-right: 15px

    .panners-nav-thumb
        font-size: 16px

        span
            margin-right: 15px
            font-size: 36px

    .s-panners
        padding-bottom: 35px

    .s-our-objects
        padding: 35px 0 70px

    .s-services
        padding: 70px 0

    .services-header-left
        width: 55%

    .services-header-right
        width: 45%

    .service
        padding: 25px

    .service-title
        font-size: 21px

    .service-icon
        width: 50px
        height: 30px

        span
            font-size: 30px

            &.icon-car
                font-size: 46px
                margin-top: -8px

    .s-our-clients
        padding: 70px 0 35px

    .our-clients
        padding: 40px

    .section-title
        margin-bottom: 35px

    .our-clients
        .section-title
            margin-bottom: 35px

    .slider-next,
    .slider-prev
        font-size: 20px
        bottom: calc(100% + 48px)

    .s-news
        padding: 35px 0 70px

    .news-slider
        .slider-next,
        .slider-prev
            bottom: calc(100% + 60px)

    .news-date
        font-size: 24px

        span
            font-size: 40px

    .s-invest
        padding: 70px 0

    .section-title-row
        margin-bottom: 40px

    .invest-more-link
        height: 140px
        padding: 0 50px
        font-size: 30px

        span
            font-size: 45px

    .panners-next,
    .panners-prev
        font-size: 28px
        bottom: 32px

    .panners-prev
        right: 81px

    .panners-nav-thumbs
        padding-right: 128px

    .form-success-title-icon
        top: -1px

    .catalog-filter-title
        padding: 0 10px 0 10px
        font-size: 12px

        &:after
            font-size: 11px
            right: 10px
            top: 16px

    .catalog-filter-dropdown-content
        padding: 10px

    .checkboxes-column
        padding-left: 0

    .checkboxes-column-item
        span
            font-size: 12px
            padding-left: 22px

            &:before
                top: 0

    .from-to-input
        span
            font-size: 12px

    .checkboxes-row-item
        span
            font-size: 12px

    .product-characters-list-item
        padding: 15px 20px 15px 0

        .h6
            font-size: 16px

        p
            font-size: 14px

    .product-characters-sidebar-callback
        margin-top: 0

    .gallery-slider,
    .room-gallery-slider
        width: 70%

    .news-panner
        min-height: 420px
        padding: 30px

    .s-news-panners
        padding-bottom: 35px

    .pagination
        margin-top: 35px

    .s-events
        padding: 35px 0

    .s-overview
        padding: 35px 0

    .s-smi
        padding: 35px 0 70px

    .post-content
        padding: 40px 30px

    .post-date
        font-size: 38px
        margin-right: 30px

        span
            font-size: 60px

    .post-header
        padding-bottom: 30px
        margin-bottom: 30px

    .text-block
        img
            margin-bottom: 2.5rem

    .text-row
        margin: 3rem 0

    .text-block
        blockquote
            padding: 30px 0
            font-size: 30px
            border-top-width: 2px
            border-bottom-width: 2px

    .text-row
        grid-gap: 40px
        grid-template-columns: 1fr 1fr

    .img-slider
        margin: 40px 0

    .other-news
        margin-top: 40px

    .other-news-slider
        .news-slider
            .slider-next,
            .slider-prev
                bottom: calc(100% + 48px)

    .other-news-slider
        .news-slider
            max-width: calc(100vw - 120px)

    .services-main
        padding: 40px
        height: 390px

        h1
            margin-bottom: 20px

        p
            font-size: 18px

    .s-service
        .other-news-slider
            .news-slider
                width: 1433px
                max-width: calc(100vw - 198px)

    .s-service
        .post-content
            padding-right: 52px

    .service-soc
        right: -48px
        top: 116px

    .s-service
        .other-news-slider
            .news-slider
                max-width: calc(100vw - 140px)

    .partner-content-text
        width: calc(100% - 350px)

    .partner-content-right
        width: 350px


@media (max-width: 1199.98px)
    .header-logo
        position: relative
        z-index: 1

    .header-lang
        position: relative
        z-index: 1

    .header-menu
        position: fixed
        top: 0
        right: 0
        width: 100%
        height: 100%
        background-color: #EFF3F9
        padding: 86px 18px 37px
        max-width: 375px
        margin: 0
        overflow-y: auto
        display: flex
        flex-direction: column
        transform: translateX(100%)
        transition: transform .4s ease
        z-index: 2

        &.opened
            transform: translateX(0)


    .main-menu
        margin-bottom: 28px
        flex-grow: 1

        ul
            flex-direction: column
            align-items: flex-start

        li
            margin: 0 0 28px

        a
            font-size: 18px

    .mob-menu-footer
        display: block

        .footer-contacts-link
            font-size: 20px
            margin-bottom: 5px
            line-height: 1.8
            display: block

        .soc
            margin-top: 13px

            ul
                li
                    margin: 0 12px 0 0 !important

        .soc-link
            font-size: 22px

            svg
                width: 22px
                height: 22px

        .btn
            margin-top: 28px

    .header-lang
        margin-left: auto

        a
            margin-right: 10px
            font-size: 12px

    .header-menu-btn
        display: block
        margin-left: 20px
        width: 28px
        height: 28px
        position: relative
        line-height: 1
        z-index: 3

        &.active
            &:before
                opacity: 0
                transform: scale(0)

            &:after
                opacity: 1
                transform: scale(1)

        &:before
            content: '\e90d'
            font-size: 28px
            font-family: icon
            font-weight: normal
            color: $text
            +tr
            position: absolute
            top: 0
            left: 0

        &:after
            content: '\e90a'
            font-family: icon
            font-size: 10px
            width: 28px
            height: 28px
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            font-weight: normal
            border: 1px solid rgba(#2E373B, .4)
            position: absolute
            top: 0
            left: 0
            +tr
            opacity: 0
            transform: scale(0)

    .panner
        padding: 40px
        height: 500px

    .h1, h1
        margin-bottom: 30px

    .panners-nav-thumbs
        .swiper-slide-next
            & + .swiper-slide
                opacity: 0

    .object-title
        font-size: 18px

    .callback-sidebar
        width: 150px

    .callback-main
        padding: 50px 85px 50px 50px

    .form-success-title-icon
        position: static
        margin: 0 0 20px

    .catalog
        .object
            min-height: 257px !important

    .product-characters-sidebar
        width: 310px

    .rooms-table-tr
        font-size: 12px

    .status
        padding-left: 12px

        &:after
            top: 5px
            width: 6px
            height: 6px

    .room-photo-view
        width: 64px

    .rooms-table-td
        &.rent
            .btn
                height: 40px
                font-size: 12px
                width: 170px

            .btn-border
                padding-top: 5px

    .rooms-table
        margin-left: -30px
        margin-right: -30px

    .rooms-table-thead
        -webkit-border-radius: 0
        -moz-border-radius: 0
        border-radius: 0
        font-size: 14px
        margin-bottom: 0

    .rooms-table-th
        padding-top: 10px
        padding-bottom: 10px

    .rooms-table-th,
    .rooms-table-td
        &:first-child
            padding-left: 30px

        &:last-child
            padding-right: 30px

    .room-photo-view
        &:after
            font-size: 16px

    .map-container
        height: 400px

    .img-slide-content
        height: 400px
        padding: 20px

    .img-slide-title
        font-size: 20px
        padding-top: 20px

    .img-slider
        .panners-prev,
        .panners-next
            bottom: 19px

        .panners-next
            right: 20px

        .panners-prev
            right: 66px

    .contacts-info-block
        p
            font-size: 18px

    .s-contacts-main-img
        height: 460px

    body
        &.header-light
            .header
                &:not(.fixed):not(.menu-is-opened)
                    .header-menu-btn
                        &:before
                            color: #fff

                    .main-menu
                        a
                            color: $text

    .text-block
        ul
            li
                margin-bottom: 15px

    .service-soc
        top: 91px

@media (max-width: 991.98px)
    .container
        padding: 0 20px

    .our-objects
        grid-template-columns: 1fr 1fr

    .services-header
        display: block
        margin-bottom: 30px

    .services-header-left
        width: 100%
        padding: 0
        margin-bottom: 20px

    .services-header-right
        width: 100%

    .section-title-row
        margin-bottom: 30px
        display: block

    .section-title-left
        width: 100%
        padding: 0
        margin-bottom: 20px

    .section-title-right
        width: 100%

    .invest-more-link
        padding: 0 30px
        font-size: 18px
        height: 80px

        span
            font-size: 30px

    .footer-row
        flex-wrap: wrap

    .footer
        position: relative
        padding: 45px 0 65px

    .footer-main
        width: 100%

    .footer-policy
        position: absolute
        bottom: 20px
        left: 20px

        a
            font-size: 16px

    .footer-nav
        width: 66.66666%

    .footer-contacts
        width: 33.33333%

    .catalog-filter
        position: fixed
        top: 0
        left: 0
        width: 365px
        background-color: #fff
        z-index: 5
        height: 100%
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2)
        flex-direction: column
        overflow-y: auto
        align-items: stretch
        padding: 20px
        transition: transform .4s ease
        transform: translateX(-100%)

        &.opened
            transform: translateX(0)

    .catalog-filter-items
        display: block
        width: 100%
        margin: 0 0 20px

    .catalog-filter-item
        margin-bottom: 20px

    .catalog-filter-title
        -webkit-border-radius: 0 !important
        -moz-border-radius: 0 !important
        border-radius: 0 !important
        border: none !important
        padding: 0 !important
        height: auto
        line-height: 1.3
        font-weight: 600
        margin-bottom: 5px

        &:after
            display: none

    .catalog-filter-dropdown
        position: static
        visibility: visible
        opacity: 1
        padding: 0
        border: none
        -webkit-border-radius: 0
        -moz-border-radius: 0
        border-radius: 0

    .catalog-filter-dropdown-content
        padding: 0

    .filter-view-btn
        display: none

    .catalog-filter-mob-title
        font-size: 18px
        font-weight: 600
        margin-bottom: 20px
        display: block

    .catalog-filter-mob-close
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: 19px
        right: 20px
        width: 30px
        height: 30px
        border: 1px solid rgba($text, .5)
        border-radius: 50%

        &:before
            content: '\e90a'
            font-family: icon
            line-height: 1
            font-weight: normal
            font-size: 10px

    .catalog-filter-submit
        .btn
            width: 100%

    .s-breadcrumbs
        margin-bottom: 30px

    .filter-mob-btn
        display: inline-flex

    .catalog
        grid-template-columns: 1fr 1fr
        grid-gap: 5px

    .questions-left
        .h1
            margin-bottom: 20px

        p
            font-size: 16px

    .questions-link
        width: 90px
        height: 90px

        &:before
            font-size: 24px

    .product-gallery
        grid-template-columns: repeat(5, 1fr)

    .product-gallery-img
        &:first-child
            padding-bottom: 56%
            grid-column: span 5
            grid-row: auto
            min-height: 0
            height: auto


    .product-gallery-all
        a
            font-size: 12px

            span
                font-size: 9px
                width: 19px
                height: 19px
                margin-left: 4px

    .product-characters
        display: block

    .product-characters-list
        margin: 0 0 20px

    .product-characters-sidebar
        width: 100%

    .product-characters-sidebar-callback
        .btn
            width: auto

    .product-gallery
        margin-bottom: 30px

    .product-characters-block
        .h2
            margin-bottom: 20px

    .s-product-main
        padding-bottom: 30px

    .s-product-description
        padding: 30px 0

        .container
            display: block

    .product-description-title
        width: 100%
        padding: 0
        margin: 0 0 20px

    .product-description-content
        width: 100%

    .h3, h3
        font-size: 18px

    .s-product-location
        padding: 30px 0 15px

    .rooms-table-thead
        display: none

    .rooms-table-tr
        display: block
        box-shadow: none !important
        margin: 0 0 10px !important
        padding: 20px
        -webkit-border-radius: 5px
        -moz-border-radius: 5px
        border-radius: 5px
        background-color: #eff3f9 !important
        border: none !important

    .rooms-table
        margin-left: 0
        margin-right: 0

    .rooms-table-td
        display: flex
        width: 100% !important
        border-bottom: 1px solid rgba($text, .15)
        padding: 15px 0 !important
        font-size: 14px
        text-align: right

        &:first-child
            border-top: none !important
            padding-top: 0 !important

        &:last-child
            padding-bottom: 0 !important
            border-bottom: none !important

        &:before
            content: attr(data-title)
            font-size: 14px
            font-weight: bold
            flex-grow: 1
            margin-right: 20px
            text-align: left

    .gallery-slider,
    .room-gallery-slider
        width: calc(100% - 40px)
        padding-right: 50px
    .gallery-slider-img
        img
            transform: scale(1) !important

    .events
        grid-template-columns: 1fr 1fr
        grid-gap: 10px

    .overview
        grid-template-columns: 1fr 1fr
        grid-gap: 10px

    .smi
        grid-template-columns: 1fr 1fr
        grid-gap: 10px

    .post-content
        padding: 30px 20px

    .post-date
        margin-right: 20px
        font-size: 24px

        span
            font-size: 33px

    .post-header
        h1
            font-size: 24px

    .text-row
        display: block
        margin: 25px 0

    .text-col
        margin-bottom: 25px

        &:last-child
            margin-bottom: 0

    .text-block
        blockquote
            font-size: 18px
            padding: 15px 0
            border-top-width: 1px
            border-bottom-width: 1px

    .gallery-pagination
        left: 0
        font-size: 12px
        top: 112%

    .gallery-next
        right: 0

    .gallery-prev
        right: 52px

    .gallery-prev,
    .gallery-next
        width: 36px
        height: 36px
        top: calc(109% + 7px)

        &:before
            font-size: 12px

    .gallery-current-slide-title
        margin-right: 10px

    .s-breadcrumbs
        margin-left: -20px
        margin-right: -20px
        padding-left: 20px
        padding-right: 20px
        display: flex
        align-items: center
        overflow: auto hidden

        .container
            width: auto
            max-width: none
            flex-grow: 1

        &::-webkit-scrollbar
            display: none

    .contacts-info-block
        width: 50% !important
        margin-bottom: 20px

    .s-contacts-main
        padding: 80px 0 30px

    .contacts-map-container
        height: 300px

    .s-contacts-main-img
        height: 350px

    .s-second-map
        .callback-form-block
            padding-top: 40px
            margin-top: 20px
            display: block

    .callback-form-block-left
        width: 100%
        margin: 0 0 30px

    .callback-form-block-right
        width: 100%
        padding-top: 0

    .other-news-slider
        .news-slider
            max-width: calc(100vw - 80px)

    .text-block,
    .post-content
        p
            & + h3
                margin-top: 2rem

    .service-soc
        top: auto
        position: static
        bottom: auto
        right: auto
        left: auto
        width: auto
        padding: 0

    .s-service
        .post-content
            padding-right: 20px

    .s-service
        .other-news-slider
            .news-slider
                max-width: calc(100vw - 78px)

    .service-soc-subscribe
        top: auto
        position: static
        bottom: auto
        right: auto
        left: auto
        min-width: 0
        transform: none
        margin-top: 40px

        .soc-link
            -webkit-transform: none
            -moz-transform: none
            -ms-transform: none
            -o-transform: none
            transform: none

    .partner-title
        display: block

        h1
            width: 100%
            margin-bottom: 20px

        p
            width: 100%

    .partner-img
        margin-bottom: 30px

    .partner-content
        display: block

    .partner-content-text
        width: 100%

    .block
        margin: 30px 0

    .partner-content-right
        width: 100%
        margin-top: 30px

    .s-callback-2
        padding: 40px 0

        .callback-form-block
            display: block

    .wrapper
        overflow: hidden !important

    .status
        &:after
            top: 8px

    sup
        top: .6em

    .text-block
        blockquote
            float: none
            width: 100%


@media (max-width: 767.98px)
    body
        font-size: 14px

    .panner
        padding: 19px 23px

    h1, .h1
        font-size: 22px
        margin-bottom: 14px

    h2, .h2
        font-size: 18px
        margin-bottom: 19px

    .panner-content
        p
            font-size: 14px

    .panner
        height: 407px

    .panners-nav-thumbs
        padding-right: 70px

        .swiper-slide-next
            opacity: 0

    .panners-nav-thumb
        padding: 12px 0
        font-size: 12px

        span
            font-size: 30px
            margin-right: 12px

        &:after
            height: 2px

    .panners-prev,
    .panners-next
        font-size: 22px
        bottom: 17px

    .panners-next
        right: 21px

    .panners-prev
        right: 56px

    .section-title
        align-items: center

        .btn
            margin: 0

    .section-title
        margin-bottom: 10px

    .services
        grid-template-columns: 1fr

    .news-slider
        padding-right: 133px

    .footer-nav
        width: 100%

    .footer-contacts
        width: 100%
        margin-top: 50px

    .callback-sidebar
        width: 41px

    .callback-main
        padding: 82px 37px 40px 34px

    .form-title
        .h6
            font-size: 12px
            margin-bottom: 10px

    .panners-nav-thumb
        max-width: 240px

        &:after
            display: none

    .panners-nav-thumbs
        &:after
            background-color: #fff
            height: 2px

    .checkbox
        span
            &:after
                top: 0

            &:before
                top: 4px

    .product-characters-sidebar-item-text
        font-size: 14px

        a
            font-size: 14px

    .product-characters-sidebar-item-icon
        margin-right: 10px

    .contacts-info-block
        p
            font-size: 16px

    .callback-form-block-right
        .form-content
            > .form-checkbox
                margin-right: 0
                width: 100%
                padding-top: 10px

            > .form-submit
                padding-top: 20px
                width: 100%

                .btn
                    width: 100%

    .callback-form-block-left
        .h6
            font-size: 12px
            margin-bottom: 5px

    .s-second-map
        padding: 0 0 40px

    .services-main
        height: 270px
        padding: 20px

    .other-news-slider
        .news-slider
            .slider-next,
            .slider-prev
                bottom: calc(100% + 16px)

    .text-block
        ul
            li
                &:before
                    top: 8px

    .s-investments-main
        padding: 72px 0 134px

    .s-accordion
        padding: 50px 0

    .accordion-item-header
        padding: 15px 55px 15px 15px
        font-size: 18px

        span
            width: 20px
            height: 20px
            right: 15px

            &:after
                top: 9px

            &:before
                left: 9px

    .accordion-item-body-content
        padding: 18px 15px

    .partner-title
        margin-bottom: 30px

    .block
        padding: 20px 15px

        h3
            margin-bottom: 1.5rem

    .partner-content-sidebar-title
        font-size: 18px

    .partner-content-sidebar-main
        .btn
            width: 100%
            justify-content: space-between

    .partner-content-sidebar-footer
        p
            padding-bottom: 20px
            margin-bottom: 20px

    .gallery-pagination
        top: 119%

@media (max-width: 575.98px)
    .header-row
        height: 51px

    .logo
        img, svg
            width: 114px

    .header-callback
        display: none

    .header-menu
        max-width: none
        z-index: 0
        overflow: hidden
        display: flex
        flex-direction: column
        padding-bottom: 0
        padding-top: 51px

        &:after
            content: ''
            left: 20px
            right: 20px
            height: 1px
            background-color: rgba($dark, .2)
            position: absolute
            top: 50px

        .header-menu-container
            overflow-y: auto
            flex-grow: 1
            padding: 39px 0 37px
            display: flex
            flex-direction: column

    .header-logo
        position: relative
        z-index: 1

    .header-lang
        margin-right: 45px

    .header-menu-btn
        margin-left: 0

    .main-menu
        li
            margin-bottom: 19px

    .wrapper
        padding-top: 51px

    .panners-nav-thumbs
        padding-left: 24px

        &:after
            left: 24px
            right: 24px

    .s-panners
        padding-bottom: 15px

    .s-our-objects
        padding-top: 15px

    .section-title
        .btn
            display: none

    .our-objects
        grid-template-columns: 1fr
        grid-gap: 5px

    .our-objects-all
        display: block
        margin-top: 10px

    .object
        height: 145px
        min-height: 0 !important
        padding: 12px 14px

    .object-title
        font-size: 16px
        margin-bottom: 8px

    .stick
        height: 20px
        font-size: 12px

        &:before
            font-size: 11px

    .btn-block
        padding: 0 12px

    .s-our-objects
        padding-bottom: 43px

    .s-services
        padding: 34px 0

    .services-header
        margin-bottom: 25px

    .services-header-right
        p
            letter-spacing: 1px

        .btn
            display: none

    .services
        grid-gap: 5px

    .service
        padding: 12px
        height: 104px

    .service-title
        font-size: 16px

    .service-icon
        top: 14px
        right: 17px
        font-size: 26px
        width: 36px
        height: 26px

        span
            font-size: 26px

            &.icon-car
                font-size: 34px

    .s-our-clients
        padding: 30px 0

    .our-clients
        padding: 23px 13px 29px

        .section-title
            margin-bottom: 30px

    .clients
        .swiper-slide
            width: auto
            max-width: 91px
            max-height: 36px

    .client
        max-width: 91px
        max-height: 36px
        min-height: 0
        opacity: 1 !important

        img
            max-height: 36px

    .slider-prev
        width: 28px
        height: 28px
        border: 1px solid rgba($dark, .2)
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        bottom: calc(100% + 28px)
        right: 43px

        &:before
            content: '\e90e'
            font-size: 11px
            color: rgba($dark, .5)

    .slider-next
        width: 36px
        height: 36px
        border: 1px solid rgba($dark, .2)
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        bottom: calc(100% + 25px)

        &:before
            content: '\e90f'
            font-size: 11px
            color: rgba($dark, .5)

    .s-news
        padding: 30px 0 64px

    .s-news
        .section-title
            margin-bottom: 19px
            padding-bottom: 0
            border-bottom: none

    .tabs-nav
        margin-bottom: 27px

        a
            height: 21px
            padding: 0 5px
            font-size: 11px
            line-height: 19px
            margin-right: 3px

    .news-slider
        .slider-next
            bottom: calc(100% + 20px)

        .slider-prev
            bottom: calc(100% + 23px)

    .news-content
        padding: 10px
        min-height: 232px

    .news-date
        font-size: 16px

        span
            font-size: 24px
            line-height: .8

    .news-title
        padding-top: 12px
        font-size: 16px
        line-height: 1.125
        margin-bottom: 13px

    .news-descr
        font-size: 12px
        line-height: 1.167
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        overflow: hidden

    .s-invest
        padding: 26px 0 41px

    .section-title-right
        p
            letter-spacing: 1px

    .invest-more-link
        height: 72px
        padding: 0 25px 0 22px
        line-height: 1.1

        span
            font-size: 29px

    .footer
        padding: 45px 0 70px

    .footer-logo
        margin-bottom: 29px
        padding-bottom: 22px
        border-bottom: 1px solid rgba($dark, .3)

        .logo
            img, svg
                width: 186px

    .footer-contacts
        .btn
            display: inline-flex
            margin-bottom: 13px

        .soc
            margin-top: 15px

            ul
                li
                    margin-right: 12px !important

    .footer-contacts-link
        font-size: 20px
        margin-bottom: 12px

    .soc-link
        font-size: 22px

        svg
            width: 22px
            height: 22px

    .form-title
        margin-bottom: 38px

        br
            display: none

    .form-col
        width: 100%

    .form-group
        margin-bottom: 10px

    .btn-lg
        height: 40px
        padding: 0 20px
        line-height: 40px

    .popup-close
        width: 42px
        height: 42px
        top: 8px
        right: 18px
        font-size: 12px
        color: rgba(#FDFDFD, .6)

    .form-success-title-icon
        width: 22px
        height: 22px
        margin-bottom: 19px
        font-size: 11px

    .form-success
        p
            font-size: 12px
            margin-bottom: 26px

    .catalog
        grid-template-columns: 1fr

        .object
            &:first-child
                grid-column: auto
                grid-row: auto

    .catalog-filter
        width: 100%

    .s-catalog
        padding-bottom: 30px

    .s-questions
        padding: 35px 0

    .questions-left
        margin-right: 20px

        .h1
            font-size: 16px
            margin-bottom: 10px

        p
            font-size: 12px

    .questions-link
        width: 50px
        height: 50px

        &:before
            font-size: 14px

    .product-gallery-img
        &:not(:first-child)
            display: none

    .product-gallery-all
        grid-column: span 5
        padding: 0
        height: 40px

    .product-characters-list-row
        display: block
        border: none !important

    .product-characters-list-item
        padding: 10px 0

        .h6
            font-size: 12px
            font-weight: bold
            margin-bottom: 3px

        p
            font-size: 14px

    .product-characters-sidebar
        padding: 20px

    .product-characters-sidebar-callback
        .btn
            width: 100%

    .rooms-table-td
        &.rent
            &:before
                display: none

            .btn
                width: 100%
                justify-content: space-between

            .btn-border
                display: flex
                padding-top: 0
                text-align: left

    .s-rooms
        padding-bottom: 30px

    .callback-main
        max-width: calc(100% - 41px)

    .news-panner
        padding: 19px 23px

    .news-panner-date
        font-size: 20px

        span
            font-size: 30px

    .news-panner-title
        padding-right: 65px

        .h2
            font-size: 16px

    .news-panners
        .panners-next,
        .panners-prev
            bottom: 18px

    .news-panner
        min-height: 300px

    .events
        grid-template-columns: 1fr

        .news-content
            min-height: 232px

    .overview
        grid-template-columns: 1fr

        .news-content
            min-height: 232px

    .smi
        grid-template-columns: 1fr

        .news-content
            min-height: 232px

    .pagination
        flex-wrap: wrap

    .pagination-nav
        width: 100%
        margin-right: 0
        margin-bottom: 20px


    .s-post
        padding-bottom: 0

    .post-content
        padding: 20px 0 50px

        &:after
            width: auto
            left: -20px
            right: -20px
            -webkit-border-radius: 0
            -moz-border-radius: 0
            border-radius: 0

    .post-header
        display: block
        padding-bottom: 20px
        margin-bottom: 20px

    .post-date
        text-align: left
        margin: 0 0 20px

    .img-slide-title
        padding-right: 80px
        font-size: 16px

    .other-news
        padding-top: 20px
        margin-top: 20px

        .section-title
            margin-bottom: 20px

    .other-news-slider
        width: 100%
        overflow: visible

    .other-news-slider
        .news-slider
            max-width: none
            width: 100%

            .slider-prev
                bottom: calc(100% + 20px)

            .slider-next
                bottom: calc(100% + 16px)

    .other-news
        .swiper-slide
            opacity: 1 !important
            visibility: visible !important
            transform: none !important

    .service
        background-color: #fff !important
        color: $text !important

    .service-icon
        svg
            fill: $accent !important

            path
                fill: $accent !important

    .s-contacts-main
        padding-top: 51px

    .contacts-info-block
        .h6
            font-size: 12px

        p
            font-size: 14px

        .soc
            margin-top: 0

    .services-main
        p
            font-size: 14px

    .s-services-main
        .service
            background-color: #eff3f9 !important

    .s-post
        .news-slider
            padding-right: 63px

    .s-service
        .post-content
            padding-right: 0

        .other-news-slider
            .news-slider
                max-width: calc(100vw - 40px)

    .service-soc-subscribe
        span
            margin-right: 15px

        .soc
            ul
                li
                    margin-right: 15px

    .investments-main-content
        padding-top: 20px

    .s-investments-main
        padding: 48px 0 75px

    .accordion-item-body-content
        &:after
            left: 15px
            right: 15px

    .partner-content-sidebar-footer ul li a span:not(.val)
        -webkit-transform: translateY(1px)
        -moz-transform: translateY(1px)
        -ms-transform: translateY(1px)
        -o-transform: translateY(1px)
        transform: translateY(1px)
        margin-right: 10px
