.footer
  background-color: #EFF3F9
  padding: 49px 0

.footer-row
  display: flex
  margin: 0 -10px

  > *
    flex-shrink: 0
    padding: 0 10px

.footer-main
  width: 25%
  display: flex
  flex-direction: column

.footer-logo
  margin-bottom: 30px

.footer-policy
  margin-top: auto

  a
    color: $dark
    opacity: .5
    +tr
    font-size: 16px

    &:hover
      opacity: 1

.footer-nav
  width: 33.333333%

  nav
    ul
      list-style-type: none
      padding: 0
      margin: 0
      column-count: 2

      li
        margin-bottom: 26px
        page-break-inside: avoid
        break-inside: avoid
        flex-shrink: 0
        &:last-child
          margin-bottom: 0

    a
      font-size: 22px
      color: $dark
      +tr

      &:hover
        color: $accent


.footer-contacts
  margin-left: auto
  width: 25%
  display: flex
  flex-direction: column
  align-items: flex-start

  .btn
    display: none

  .soc
    margin-top: auto

.footer-contacts-link
  margin-bottom: 24px
  font-weight: 600
  font-size: 28px
  color: $text
  +tr

  &.mail
    text-decoration: underline

  &:hover
    color: $accent

.soc
  display: flex
  align-items: center

  ul
    list-style-type: none
    padding: 0
    margin: 0
    display: flex
    align-items: center

    li
      margin-right: 50px

      &:last-child
        margin-right: 0

.soc-link
  font-size: 32px
  +tr
  color: $accent
  display: flex
  align-items: center
  justify-content: center

  svg
    width: 32px
    height: 32px
    flex-shrink: 0

    path
      +tr
      fill: $accent

  &:hover
    color: $text

    svg
      path
        fill: $text

  &:last-child
    margin-right: 0

// 03.03.22 feat: copyright
.footer-contacts-made-by
  display: block
  margin-top: 26px
  opacity: .5
  transition: opacity .3s ease
  @media (max-width: 991.98px)
    position: absolute
    bottom: 20px
    left: 20px

  &:hover
    opacity: 1
    svg
      fill: $accent
  svg
    width: 231px
    height: auto
    fill: #2E373B
    transition: fill .3s ease

.footer-policy
  @media (max-width: 991.98px)
    bottom: 70px !important

.footer
  @media (max-width: 991.98px)
    padding: 45px 0 105px !important
  @media (max-width: 575.98px)
    padding: 45px 0 110px !important