form
  position: relative

.form-content
  transition: all .4s ease
  flex-grow: 1
  display: flex
  flex-direction: column

.form-title
  margin-bottom: 64px

  .h6
    opacity: .5
    margin-bottom: 20px
    font-size: 14px
    text-transform: uppercase

  .h1
    margin: 0

.form-row
  display: flex
  flex-wrap: wrap
  margin: 0 -10px

.form-col
  padding: 0 10px
  flex-shrink: 0
  width: 50%

.form-group
  margin-bottom: 20px

.form-control
  display: block
  width: 100%
  background-color: transparent
  border: 1px solid #fff
  color: #fff
  padding: 0 18px
  border-radius: 5px
  outline: none !important
  +tr
  text-transform: uppercase
  font-size: 12px
  height: 48px
  appearance: none

  &.invalid
    color: $red !important
    border-color: $red !important

    &::placeholder
      color: $red !important

  &::placeholder
    color: #fff
    +tr

  &:focus
    border-color: $accent

    &::placeholder
      transform: translateY(-5px)
      opacity: 0

textarea.form-control
  resize: none
  padding-top: 15px
  min-height: 111px

.form-checkbox
  margin-bottom: 30px

  & + .form-submit
    margin-top: 0

.checkbox
  display: inline-block
  position: relative
  color: #fff

  input
    position: absolute
    z-index: -1
    visibility: hidden
    opacity: 0

    &:checked
      & ~ span
        &:before
          transform: scale(1)

  span
    display: block
    padding-left: 31px
    font-weight: 100
    position: relative

    &:after
      content: ''
      position: absolute
      top: 6px
      left: 0
      width: 18px
      height: 18px
      border-radius: 2px
      border: 1px solid #fff
      cursor: pointer

    &:before
      content: '\e90b'
      font-family: icon
      +tr
      transform: scale(0)
      position: absolute
      top: 10px
      left: 5px
      font-size: 8px
      font-weight: normal

    a
      text-decoration: underline
      color: #fff
      +tr

      &:hover
        color: $accent


.form-submit
  margin-top: 30px

.form-success
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 0
  visibility: hidden
  transition: all .4s ease
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start

  &.active
    visibility: visible
    opacity: 1

    & ~ .form-content
      opacity: 0
      visibility: hidden

  p
    max-width: 791px
    font-size: 28px
    line-height: 1.4
    margin-bottom: 54px

.form-success-title
  margin-bottom: 25px
  position: relative

  .h1
    margin: 0

.form-success-title-icon
  position: absolute
  top: 5px
  right: 100%
  margin-right: 29px
  width: 58px
  height: 58px
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  background-color: #4A9E58
  display: flex
  align-items: center
  justify-content: center
  font-size: 28px
  color: #fff

.style-select
  width: 100%
  color: #fff

  &.open
    .ss-selected-option
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
      background: #2C3452
      &:after
        transform: rotate(180deg)

  .ss-selected-option
    border: 1px solid rgba(#fff, .8)
    height: 48px
    line-height: 46px
    padding: 0 45px 0 18px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    background: transparent
    +tr
    font-size: 12px
    text-transform: uppercase
    white-space: nowrap
    overflow: hidden
    -ms-text-overflow: ellipsis
    text-overflow: ellipsis
    color: #fff

    &:after
      content: '\e910' !important
      font-family: icon
      font-weight: normal
      line-height: 1
      width: 14px
      height: 14px
      font-size: 14px
      color: rgba(#fff, .7)
      top: 18px
      right: 18px
      +tr

  .ss-dropdown
    top: calc(100% - 1px)
    background: #2C3452
    box-shadow: none
    border-radius: 0 0 5px 5px
    border: 1px solid rgba(#fff, .8)
    overflow: hidden
    z-index: 2

    .ss-option
      font-size: 12px
      text-transform: uppercase
      padding: 12px 18px
      color: #fff
      background: transparent

      &.highlighted
        background: #29314F
        color: #fff

      &:before
        display: none

select
  width: 100%
  border: 1px solid rgba(#fff, .8)
  height: 48px
  line-height: 46px
  padding: 0 45px 0 15px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  background-color: transparent
  +tr
  font-size: 12px
  text-transform: uppercase
  color: #fff
  background-image: url(../images/dist/icons/angle-down.svg)
  background-repeat: no-repeat
  background-position: top 50% right 18px
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  outline: none !important
