.s-invest
  background-image: url(../images/dist/invest-bg.jpg)
  -webkit-background-size: cover
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  color: #fff

.invest-more-link
  height: 220px
  padding: 0 76px 0 120px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  border: 2px solid #FFFFFF
  display: flex
  align-items: center
  font-size: 34px
  font-weight: bold
  letter-spacing: 1px
  color: #fff
  justify-content: space-between
  +tr

  &:hover
    border-color: $accent
    color: $accent

    span
      transform: translateX(20px)

  span
    font-size: 67px
    margin-left: 30px
    +tr
