.s-services
  background-color: #EFF3F9
  padding: 98px 0 116px

.services-header
  display: flex
  margin-bottom: 92px

.services-header-left
  width: 66%
  flex-shrink: 0
  padding-right: 30px

  .h1
    margin: 0
    max-width: 811px

.services-header-right
  width: 34%
  flex-shrink: 0

  p
    margin-bottom: 26px

.services
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 20px

.service
  position: relative
  overflow: hidden
  height: 220px
  +tr
  padding: 30px 34px
  border-radius: 5px
  background-color: #fff
  display: flex
  flex-direction: column
  justify-content: flex-end

  &:hover
    color: #fff
    background-color: $accent

    .service-icon
      color: #fff

      svg
        fill: #fff

        path
          fill: #fff

.service-link
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1

.service-icon
  position: absolute
  top: 25px
  right: 25px
  +tr
  color: $accent
  display: flex
  width: 80px
  height: 50px

  img
    width: 100%
    height: 100%
    object-fit: contain

  svg
    width: 100%
    height: 100%
    +tr
    fill: $accent

    path
      fill: $accent
      +tr

  span
    font-size: 50px

    &.icon-car
      font-size: 66px
      margin-top: -10px

.service-title
  font-size: 28px
  font-weight: 600
  line-height: 1.21
  max-width: 500px

.s-services-main
  padding: 0 0 120px

  .service
    background-color: #EFF3F9

    &:hover
      background-color: $accent

.services-main
  height: 494px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  -webkit-background-size: cover
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  background-image: url(../images/dist/services-img.jpg)
  padding: 55px 60px
  color: #fff
  overflow: hidden
  position: relative
  margin-bottom: 20px

  h1
    margin-bottom: 35px

  p
    font-size: 22px
    margin: 0
    line-height: 1.273
    max-width: 422px

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(111.95deg, rgba(0, 0, 0, 0.2) -8.63%, rgba(0, 0, 0, 0) 70.78%), linear-gradient(0deg, rgba(39, 44, 62, 0.5), rgba(39, 44, 62, 0.5))

.services-main-content
  position: relative
  z-index: 1

.other-news-slider
  .service
    height: 340px
